<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Amicão</title>
    <link rel="icon" type="image/png" href="src/img/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="src/img/favicon-32x32.png" sizes="32x32">
    <link rel="stylesheet" href="src/css/login.css">
</head>

<body>